{% extends 'my-pics/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/my_pics.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">

{% endblock %}

{% block content %}
{{block.super}}
<div class="container" style="background-color: #36EEE0; font-family: 'Joti One'">
    <div class="row" style="background: url('/pic_hub-virtual-environments/media/images/cam1.webp') ;height: 200px; text-align: center; margin-bottom:10px; font-family: 'Joti One'">
        <div class="row">
            <!-- Adding a search form  -->
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-md-4 col-xl-md-4">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-md-4 col-xl-md-4">
                <form class="navbar-form" role="search" action="{% url 'search' %}" style="margin-top:50px;">

                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Image" name="image">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" style="color: brown;"></i></button>
                    </div>
                    </div>

                </form>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-md-4 col-xl-md-4">
            </div>
        </div>
        <div class="row">
            <p style="color:#F51720; margin:20px; font-size:20px;text-align: center; font-family: 'Joti One', cursive; font-size:35px;"><em>Photograph takes an instant out of time,altering life by holding it still.</em> </p>
        </div>
    </div>  
    <!-- panel-->      
    <div class="panel" style="background-color:rgb(54, 1, 1) ;">
        <div class="row">
            <a href="{% url 'categories' 1 %}" style="color:white;">
                <img src="/pic_hub-virtual-environments/media/images/art1.jpeg" alt="" style="float:right;box-shadow: 5px 5px 10px 5px ;border:solid 10px white;height:350px;width:450px;margin:50px;
                font-family: 'Joti One'">
            </a>
        <div style="margin:150px; margin-left:200px;">
            <h4 style="margin:50px; color:#F8D210; font-weight: bolder;font-size:35px; font-family: 'Joti One'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Art</h4>
            <p >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#F8D210; font-size:30px; font-weight:bolder;"> .... </span>

                    ART. View them <a href="{% url 'categories' 1 %}">here</a>
                </p>
        </div>
        </div> 
    
        <div class="row">
            <a href="{% url 'categories' 2 %}" style="color:white;" >
                <img src="/pic_hub-virtual-environments/media/images/sneakers5.jpg" alt="" style="float:right;box-shadow: 5px 5px 10px 5px ;
                border:solid 10px white; height: 350px; width:450px; margin:50px;
                border:solid 10px white; height: 350px; width:450px; margin:50px;
                -webkit-transform: rotate(-30deg);
                -moz-transform: rotate(-30deg);
                -o-transform: rotate(-30deg);
                -ms-transform: rotate(-30deg);
                transform: rotate(-30deg);">
            </a>
        <div style="margin:150px;">
            <h4 style="margin:50px; font-weight:bolder; color:#FA26A0; font-size:35px; font-family: 'Joti One'">Sneakers</h4>
            <p><span style="color:#FA26A0; font-weight: bolder; font-size:30px;">&nbsp;&nbsp; .... </span>SNEAKERS. View them <a href="{% url 'categories' 2 %}">here</a></p>
        </div>
        </div> 

        <div class="row">
            <a href="{% url 'categories' 3 %}" style="color:white;" >
                <img src="/pic_hub-virtual-environments/media/images/snacks1_b61uEno.jpg" alt="" style="float:left;box-shadow: 5px 5px 10px 5px ;
                border:solid 10px white; height: 350px; width:450px; margin:50px;
                border:solid 10px white; height: 350px; width:450px; margin:50px;
                -webkit-transform: rotate(-30deg);
                -moz-transform: rotate(-30deg);
                -o-transform: rotate(-30deg);
                -ms-transform: rotate(-30deg);
                transform: rotate(-30deg);">
            </a>
        <div style="margin:150px;">
            <h4 style="margin:50px;font-size:35px;font-weight: bolder;color:#F8D210; font-family: 'Joti One'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Snacks</h4>
            <p><span style="font-size:30px;font-weight: bolder;color:#F8D210;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ..... </span>SNACKS.  View them <a href="{% url 'categories' 3 %}">here</a></p>
        </div>
        </div> 

       
        <div class="row">
            <a href="{% url 'categories' 4 %}" style="color:white;">
                <img src="/pic_hub-virtual-environments/media/images/Saxophone1.jpg" alt="" style="float:left;box-shadow: 5px 5px 10px 5px ;border:solid 10px white;height:350px;width:450px;margin:50px;
                font-family: 'Joti One'">
            </a>
        <div style="margin:150px; margin-left:200px;">
            <h4 style="margin:50px; color:#FA26A0; font-weight: bolder;font-size:35px; font-family: 'Joti One'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Musical_Instruments</h4>
            <p >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#FA26A0; font-size:30px; font-weight:bolder;"> .... </span>

                    MUSICAL_INSTRUMENTS. View them <a href="{% url 'categories' 4 %}">here</a>
                </p>
        </div>
        </div> 
        
</div>
{% endblock %}